<h1>Create a New Vendor Sweet</h1>


<% if @errors %>
    <% @errors.each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>


<%= form_for @vendor_sweet do |f| %>
    <%= f.label :vendor_id %>
    <%= f.collection_select :vendor_id, @vendors, :id, :name %>
    <%= f.label :sweet_id %>
    <%= f.collection_select :sweet_id, @sweets, :id, :name %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.submit %>
<% end %>